{% extends "layout.html.twig" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <main role="main" class="container" style="max-width: 350px">
        <header>
            <h5>{{title}}</h5>
        </header>
        <p>Имя: {{ user.name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Дата регистрации: {{ user.created_at }}</p>
        <a class="btn btn-primary" href="auth/logout">Выход</a>
        <a class="btn btn-primary" href="/">Главная страница</a>
    </main>
{% endblock %}
